.titulo{
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 64px;
    color: #000000;
    
}
.container{
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.pizzaItem{
width: 300px;
padding: 7px;
margin: 7px;
background-color: rgb(255, 255, 255);
border: 10px;
border-color: aliceblue;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content: space-between;
}
.list{
    list-style: none; 
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.precio{
  list-style: none;
  background-color: var(--orange-medium-color);
  border-radius: 110px;
  padding: 10px;
  margin: 10px;
}
.conten{
display: flex;
flex-direction: row;
}
.imgP{
    width: 420px;
}
.titulo{
margin-top: 0px;
margin-bottom: 40px;
}
.bebidas{
    margin:10px;
    padding: 10px;
  justify-content: center;
margin-left: 140 px;
}
.bebida{
    display: flex;
    flex-direction: row;
    margin-right: 60px;
}
.subtitulo{
    margin-top:20px;
    padding: 20px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
margin-left: 50px;
    color: #F47B23;
}
.price{
  margin:20px;
  padding: 20px;
  font-family: 'Playfair Display';
font-style: normal;
font-size: 96px;
line-height: 128px;
margin-left: 20px;
color: #000000;

}
.sabores{
    list-style: none;

    font-family: 'Playfair Display';
font-style: normal;
font-size: 24px;
line-height: 32px;
margin-left: 50px;
color: #000000;

}