.orden{
    display: flex;
    flex-direction: row;
}
.btnPizza{
    width: 115.88px;
    height: 89.99px;
    background: #F47B23;
    border: 3px solid #F47B23;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 24px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    color: #FFFBFB;
    margin: 10px;

}
.btnImage{
    width: 41.22px;
    height: 39.21px; 
}
.titulo{
    margin: 0px;
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 64px;
    line-height: 85px;
    background-color: var( --background-dark-color);
    color: #FFFFFF;
}
.flavor{
    display: flex;
    flex-wrap: wrap;
   align-content: space-around;
    border-color: black;
    background-color: rgb(255, 255, 255);
   }

.ticket{ 
    border-color: black;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    margin: 10px;
}
.textEnter{
border-color: #F47B23;
width: 300px;
margin: 10px;
}
.tableTicket{
    display: flex;
    flex-direction: column;
    border-color: #F47B23;
    margin: 10px;
}
.infoTicket{
    display: flex;
    flex-direction: row;

}
.sendKitchen
{display: flex;
flex-direction: column;
}
.flavorDiv{
  background-color: rgb(255, 255, 255);
}
.btnSend{
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 25px;
background: #2D2C2C;
border-radius: 9px;
border: 0pt;
color: #ffffff;
}
