.about{
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 20px;

}
.titulo{
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 64px;
    color: #000000;
    
}
.des{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 150;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: justify
}
.pizza{
    width: 600px;
    height: 600px;
}
.pizzad{
display: flex;
justify-content: center;
align-items: center;
}
