.about{
    font-family: 'Playfair Display', serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 0px;

}
.titulo{
    font-family: 'Playfair Display';
    font-style: normal;
    font-size: 64px;
    color: #000000;
    
}
.des{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 150;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    text-align: justify;
    margin-top: 0px;
}
.pizza{
   width: auto;
}
.pizzad{
display: flex;
justify-content: center;
align-items: center;
}

.back{
    background-color:var(--orange-medium-color) ;
color:white;
display: flex;
justify-content: center;
flex-direction: column;
}
.dias{
padding: 30px;
}
.horario{
margin: 0px;
padding: 30px;
}
.titul{
    margin: 0px;
    padding: 30px;
}