@import "../styles.css";
.blog-post-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  padding-left: 12px;
  padding-right: 12px;
  top: 0;
  background-color:var(--background-dark-color);
}

.blog-post-navbar ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: var( --white-color);
  background-color: F5F3F6;
}

.blog-post-navbar li {
  justify-content: center;
}

.blog-post-navbar a {
  display: flex;
  color: var( --white-color);
  text-align: center;
  padding-right: 16px;
  text-decoration: none;
  
}

.blog-post-navbar a:hover {
  color: var(--green-medium-color);
}
.inicio{
  background:var(--oxford-color);
border: 2px solid #F49423;
border-radius: 10px;
margin: 10px;
font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 239;
font-size: 16px;
line-height: 25px;
text-transform: capitalize;
color: var( --white-color);


}